MySQL-python==1.2.3
raven==2.0.12.2
SQLAlchemy==1.0.5
Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
Werkzeug==0.10.4
Flask-Script==0.5.3
python-dateutil==2.1
pytz==2012j
six==1.2.0
times==0.6.1
Flask-Admin==1.1.0
Flask-WTF==0.11
WTForms==1.0.3
python-ldap==2.4.10
simplejson==3.0.7
tornado==2.4.1
xlwt
